@import 'Helpers/_fonts.scss';
@import 'Helpers/_variables.scss';
@import 'Helpers/_mixin.scss';
@import 'Components/_animation.scss';


/////////////shake button radio
.button-radio{
    &:hover{
        animation: shake 150ms 4.5 linear;
        -moz-animation: shake 150ms 4.5 linear;
        -webkit-animation: shake 150ms 4.5 linear;
        -o-animation: shake 150ms 4.5 linear;
    }
}